@page "/"

@using Fundamentos_Blazor.Data
@inject IDependencyDemo DependencyDemo

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row">
    <div class="col-md-12">
        <img src="images/screenshot 2024-06-15 010510.png" />
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

<p>La edad aleatoria es: @DependencyDemo.returnEdad() </p>